html {
	font-family: "Alegreya", serif;
}

html.light-sans,
html.rust-sans,
html.mocha-sans {
	font-family: "Open Sans", sans-serif;
}

body {
	font-size: 1.9rem;
	font-weight: 400;
}

@media screen and (max-width: 768px) {
	body {
		font-size: 1.8rem;
	}
}

.light-sans body,
.rust-sans body,
.mocha-sans body {
	font-size: 1.6rem;
}

.light-clr body,
.rust-clr body,
.mocha-clr body {
	font-weight: 500;
}

table {
	display: block;
	overflow-x: auto;
}

@media print {
	table tbody th {
		border: 1px var(--table-border-color) solid;
	}

	table {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.large-table th,
	.large-table td {
		display: inline-block;
	}
}

.light-clr .content strong a,
.rust-clr .content strong a,
.mocha-clr .content strong a {
	text-decoration: underline;
}

.light-clr .content strong a:hover,
.rust-clr .content strong a:hover,
.mocha-clr .content strong a:hover {
	text-decoration: none;
}

.light-clr .content strong,
.light-clr .content td b,
.rust-clr .content strong,
.rust-clr .content td b {
	color: #b33000;
	--links: #b33000;
}

.mocha-clr .content strong,
.mocha-clr .content td b {
	color: #ff7c4d;
	--links: #ff7c4d;
}

/* copied */

.mocha-sans code,
.mocha-clr code {
	color: #cdd6f4;
	background: #181825;
}

.mocha-sans blockquote blockquote,
.mocha-clr blockquote blockquote {
	border-top: 0.1em solid #585b70;
	border-bottom: 0.1em solid #585b70;
}

.mocha-sans hr,
.mocha-clr hr {
	color: #585b70;
}

.mocha-sans del,
.mocha-clr del {
	color: #9399b2;
}

.mocha-sans .ace_gutter,
.mocha-clr .ace_gutter {
	color: #7f849c;
	background: #181825;
}

.mocha-sans .ace_gutter-active-line.ace_gutter-cell,
.mocha-clr .ace_gutter-active-line.ace_gutter-cell {
	color: #f5c2e7;
	background: #181825;
}

.mocha-sans,
.mocha-clr {
	--bg: #1e1e2e;
	--fg: #cdd6f4;
	--sidebar-bg: #181825;
	--sidebar-fg: #cdd6f4;
	--sidebar-non-existant: #6c7086;
	--sidebar-active: #89b4fa;
	--sidebar-spacer: #6c7086;
	--scrollbar: #6c7086;
	--icons: #6c7086;
	--icons-hover: #7f849c;
	--links: #89b4fa;
	--inline-code-color: #fab387;
	--theme-popup-bg: #181825;
	--theme-popup-border: #6c7086;
	--theme-hover: #6c7086;
	--quote-bg: #181825;
	--quote-border: #11111b;
	--table-border-color: #11111b;
	--table-header-bg: #181825;
	--table-alternate-bg: #181825;
	--searchbar-border-color: #11111b;
	--searchbar-bg: #181825;
	--searchbar-fg: #cdd6f4;
	--searchbar-shadow-color: #11111b;
	--searchresults-header-fg: #cdd6f4;
	--searchresults-border-color: #11111b;
	--searchresults-li-bg: #1e1e2e;
	--search-mark-bg: #fab387;
	--warning-border: #fab387;
	--color-scheme: dark;
}

.rust-sans,
.rust-clr {
	--bg: hsl(60, 9%, 87%);
	--fg: #262625;

	--sidebar-bg: #3b2e2a;
	--sidebar-fg: #c8c9db;
	--sidebar-non-existant: #505254;
	--sidebar-active: #e69f67;
	--sidebar-spacer: #45373a;

	--scrollbar: var(--sidebar-fg);

	--icons: #737480;
	--icons-hover: #262625;

	--links: #2b79a2;

	--inline-code-color: #6e6b5e;

	--theme-popup-bg: #e1e1db;
	--theme-popup-border: #b38f6b;
	--theme-hover: #99908a;

	--quote-bg: hsl(60, 5%, 75%);
	--quote-border: hsl(60, 5%, 70%);

	--warning-border: #ff8e00;

	--table-border-color: hsl(60, 9%, 82%);
	--table-header-bg: #b3a497;
	--table-alternate-bg: hsl(60, 9%, 84%);

	--searchbar-border-color: #aaa;
	--searchbar-bg: #fafafa;
	--searchbar-fg: #000;
	--searchbar-shadow-color: #aaa;
	--searchresults-header-fg: #666;
	--searchresults-border-color: #888;
	--searchresults-li-bg: #dec2a2;
	--search-mark-bg: #e69f67;

	--color-scheme: light;
}

.light-sans,
.light-clr {
	--bg: hsl(0, 0%, 100%);
	--fg: hsl(0, 0%, 0%);

	--sidebar-bg: #fafafa;
	--sidebar-fg: hsl(0, 0%, 0%);
	--sidebar-non-existant: #aaaaaa;
	--sidebar-active: #1f1fff;
	--sidebar-spacer: #f4f4f4;

	--scrollbar: #8F8F8F;

	--icons: #747474;
	--icons-hover: #000000;

	--links: #20609f;

	--inline-code-color: #301900;

	--theme-popup-bg: #fafafa;
	--theme-popup-border: #cccccc;
	--theme-hover: #e6e6e6;

	--quote-bg: hsl(197, 37%, 96%);
	--quote-border: hsl(197, 37%, 91%);

	--warning-border: #ff8e00;

	--table-border-color: hsl(0, 0%, 95%);
	--table-header-bg: hsl(0, 0%, 80%);
	--table-alternate-bg: hsl(0, 0%, 97%);

	--searchbar-border-color: #aaa;
	--searchbar-bg: #fafafa;
	--searchbar-fg: #000;
	--searchbar-shadow-color: #aaa;
	--searchresults-header-fg: #666;
	--searchresults-border-color: #888;
	--searchresults-li-bg: #e4f2fe;
	--search-mark-bg: #a2cff5;

	--color-scheme: light;
}

@media (prefers-color-scheme: dark) {

	.light-sans.no-js,
	.light-clr.no-js {
		--bg: hsl(200, 7%, 8%);
		--fg: #98a3ad;

		--sidebar-bg: #292c2f;
		--sidebar-fg: #a1adb8;
		--sidebar-non-existant: #505254;
		--sidebar-active: #3473ad;
		--sidebar-spacer: #393939;

		--scrollbar: var(--sidebar-fg);

		--icons: #43484d;
		--icons-hover: #b3c0cc;

		--links: #2b79a2;

		--inline-code-color: #c5c8c6;

		--theme-popup-bg: #141617;
		--theme-popup-border: #43484d;
		--theme-hover: #1f2124;

		--quote-bg: hsl(234, 21%, 18%);
		--quote-border: hsl(234, 21%, 23%);

		--warning-border: #ff8e00;

		--table-border-color: hsl(200, 7%, 13%);
		--table-header-bg: hsl(200, 7%, 28%);
		--table-alternate-bg: hsl(200, 7%, 11%);

		--searchbar-border-color: #aaa;
		--searchbar-bg: #b7b7b7;
		--searchbar-fg: #000;
		--searchbar-shadow-color: #aaa;
		--searchresults-header-fg: #666;
		--searchresults-border-color: #98a3ad;
		--searchresults-li-bg: #2b2b2f;
		--search-mark-bg: #355c7d;
	}
}
