html {
	font-family: "Alegreya", "Open Sans", sans-serif;
}

body {
	font-size: 1.9rem;
	font-weight: 400;
}

@media screen and (max-width: 768px) {
	body {
		font-size: 1.8rem;
	}
}

table {
	display: block;
	overflow-x: auto;
}

@media print {
	table tbody th {
		border: 1px var(--table-border-color) solid;
	}

	table {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.large-table th, .large-table td {
		display: inline-block;
	}
}

/* @media not print { } */

.rust-clr body, .mocha-clr body {
	font-weight: 500;
}

.rust-clr .content strong a, .mocha-clr .content strong a {
	text-decoration: underline;
}

.rust-clr .content strong a:hover, .mocha-clr .content strong a:hover {
	text-decoration: none;
}

.rust-clr .content strong, .rust-clr .content td b {
	color: orangered;
	--links: orangered;
}

.mocha-clr .content strong, .mocha-clr .content td b {
	color: coral;
	--links: coral;
}

/* copied */

.mocha-clr code {
	color: #cdd6f4;
	background: #181825;
}

.mocha-clr blockquote blockquote {
	border-top: 0.1em solid #585b70;
	border-bottom: 0.1em solid #585b70;
}

.mocha-clr hr {
	color: #585b70;
}

.mocha-clr del {
	color: #9399b2;
}

.mocha-clr .ace_gutter {
	color: #7f849c;
	background: #181825;
}

.mocha-clr .ace_gutter-active-line.ace_gutter-cell {
	color: #f5c2e7;
	background: #181825;
}

.mocha-clr {
	--bg: #1e1e2e;
	--fg: #cdd6f4;
	--sidebar-bg: #181825;
	--sidebar-fg: #cdd6f4;
	--sidebar-non-existant: #6c7086;
	--sidebar-active: #89b4fa;
	--sidebar-spacer: #6c7086;
	--scrollbar: #6c7086;
	--icons: #6c7086;
	--icons-hover: #7f849c;
	--links: #89b4fa;
	--inline-code-color: #fab387;
	--theme-popup-bg: #181825;
	--theme-popup-border: #6c7086;
	--theme-hover: #6c7086;
	--quote-bg: #181825;
	--quote-border: #11111b;
	--table-border-color: #11111b;
	--table-header-bg: #181825;
	--table-alternate-bg: #181825;
	--searchbar-border-color: #11111b;
	--searchbar-bg: #181825;
	--searchbar-fg: #cdd6f4;
	--searchbar-shadow-color: #11111b;
	--searchresults-header-fg: #cdd6f4;
	--searchresults-border-color: #11111b;
	--searchresults-li-bg: #1e1e2e;
	--search-mark-bg: #fab387;
	--warning-border: #fab387;
	--color-scheme: dark;
}

.rust-clr {
	--bg: hsl(60, 9%, 87%);
	--fg: #262625;

	--sidebar-bg: #3b2e2a;
	--sidebar-fg: #c8c9db;
	--sidebar-non-existant: #505254;
	--sidebar-active: #e69f67;
	--sidebar-spacer: #45373a;

	--scrollbar: var(--sidebar-fg);

	--icons: #737480;
	--icons-hover: #262625;

	--links: #2b79a2;

	--inline-code-color: #6e6b5e;

	--theme-popup-bg: #e1e1db;
	--theme-popup-border: #b38f6b;
	--theme-hover: #99908a;

	--quote-bg: hsl(60, 5%, 75%);
	--quote-border: hsl(60, 5%, 70%);

	--warning-border: #ff8e00;

	--table-border-color: hsl(60, 9%, 82%);
	--table-header-bg: #b3a497;
	--table-alternate-bg: hsl(60, 9%, 84%);

	--searchbar-border-color: #aaa;
	--searchbar-bg: #fafafa;
	--searchbar-fg: #000;
	--searchbar-shadow-color: #aaa;
	--searchresults-header-fg: #666;
	--searchresults-border-color: #888;
	--searchresults-li-bg: #dec2a2;
	--search-mark-bg: #e69f67;

	--color-scheme: light;
}
